@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');
body{
    font-family: "Inter", sans-serif;
    background: rgb(6, 5, 5);
}
.second-font{
    font-family: "Corinthia", cursive;
    font-size: 100px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navbar section */

.navbar{
    display: flex;
    padding-top: 40px;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1440px;
    
}
.nav-option{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.6px solid rgb(103, 101, 101);
    border-radius: 40px;
    padding-left: 7px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-logo h3{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;

}
.nav-option p{
    color: white;
    font-size: 18px;
    line-height: 24px;
}
.span{
    background-color:rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    align-items: center;
    
}
.hamburger-menu{
    color: white;
    display: none;
}

/* ----------banner section------------------ */

.banner-container{
    max-width: 1440px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;

}
.banner-heading{
font-size: 78px;
font-weight: 900;
color: white;
text-align: left;
}
.heading-word-style{
    font-style: italic;
    
}
.banner-paragraph{

font-size: 16px;
font-weight: 400;
color: #8c8c8c;
margin-top: 25px;
margin-bottom: 25px;
}
.btn-1{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background-color:rgb(230, 83, 60);
    border: none;
    margin: 0px 14px;
    color: white;
    font-size: 20px;
}

.btn-2{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    color: white;
    border: 1px solid white;
    background: transparent;
    font-size: 20px; 
}


.banner-img{
    position: relative;
}
.free{
    width: 193px;
    height: 98px;
    background-color: #393939;
    border-radius: 8px;
    padding: 20px;
    position: absolute;
    top: 137px;
    right: -70px;
}
.free-heading{
    color: white;
    font-size: 40px;
}
.free-paragraph{
    color: #8c8c8c;
    font-size: 13px;
}

.vedio-tutorial{
    width: 193px;
    height: 98px;
    background-color: #393939;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: absolute;
    bottom: 80px;
    right: 256px;
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(230, 83, 60);
}

.vedio-text-heading2{
    color: white;
    font-size: 40px;
}
.vedio-text-paragraph2{
    color: #8c8c8c;
    font-size: 13px;
}

/* ...............Change your habits Section Styles.................... */

.habit-container{
    max-width: 1440px;
    margin: 0px auto;
    margin-top: 80px;
}

.habits-heading{
    color:white;
    font-size: 48px;
    font-weight: 900;

}
.habits-paragraph{
    color: #8c8c8c;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 24px;
}


.text-content{
    text-align: center;
}


.image-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.img-item img{
    border-radius: 100%;
}
.img-item h5{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: -25px;
    font-size: 18px;
    font-weight: 600;
}
.img-item p{
    color: #8c8c8c;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}


/* ...........Run an extra mile Easily section  Start...................*/

.mile-container{
    max-width: 1060px;
    height: 371px;
    display: flex;
    justify-content: center;
    background-color: #222222;
    margin: 0px auto;
    gap: 158px;
    margin-top: 70px;
    border-radius: 18px;
}
.mile-text-content{
    padding-top: 40px;
    padding-left: 55px;
}

.mile-image-content img{
    margin-top: 40px;
    margin-bottom: 20px;
    width:85%;
    height: 80%;
    border-radius: 18px;
}

.mile-heading{
    color: white;
    font-size: 48px;
    font-weight: 900;
    
}
.mile-paragraph{
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;
}
.join-btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background-color:rgb(230, 83, 60);
    border: none;
    margin: 0px 14px;
    color: white;
    font-size: 20px;
}

/* ------------------ New Idea section Starts ------------------------------ */

.idea-container{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../images/exercise.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 200px;
    height: 500px;
    margin-top: 80px;
}


.idea-content{
    margin-left: 200px;
}

.idea-paragraph {
    color: white;
    text-transform: capitalize;
    font-size: 30px
    font-weight: 700;
}


.idea-heading{
    color: white;
    text-transform: capitalize;
    font-size: 60px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
}


.idea-btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background-color:rgb(230, 83, 60);
    border: none;
    margin: 0px 14px;
    color: white;
    font-size: 20px;
}


/* ---------BMI Calculator Cart Section Starts--------------- */

.bmi-container{
    max-width: 1440px;
    justify-content: center;
    margin: 0px auto;
    justify-content: center;
    background-color: #222222;
    padding-top: 50px;
    margin-top: 70px;
}

.bmi-content{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    gap: 170px;
}

.bmi-left h3{
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.bmi-right h3{
    color: white;
    font-size: 25px;
    font-weight: 800;
}


.bmi-right p{
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
}
table{
    border-collapse: collapse;
    margin-top: 40px;
}

td, th{
    border: 1px solid #8c8c8c;
    padding: 5px 10px;
}

th{
    color: white;
    text-align: left;
}
td{
    color: #8c8c8c;
}

.first-fill{
    padding: 14px 22px 16px 50px;
    background-color: #393939;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    margin-right: 3px;
    outline: none;
}

.second-fill{
    padding: 14px 22px 16px 50px;
    background-color: #393939;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    outline: none;
}

.third-fill{
    padding: 14px 22px 16px 50px;
    background-color: #393939;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    margin-right: 3px;
    margin-top: 12px;
    outline: none;
}

.four-fill{
    padding: 14px 22px 16px 50px;
    background-color: #393939;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    outline: none; 
}

.five-fill{
    padding: 14px 22px 16px 323px;
    background-color: #393939;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    margin-right: 3px;
    margin-top: 12px;
    margin-bottom: 35px;
    outline: none;
}

placeholder{
    text-align: left;
}

.form-btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background-color:rgb(230, 83, 60);
    border: none;
    margin: 0px 14px;
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}

/*------------- Meet Our Teams Section Starts---------------- */

.team-container{
    max-width: 1440px;
    margin: 0px auto;
    margin-top: 40px;
}
.team-text-content{
    text-align: center;
}
.team-heading{
    color:white;
    font-size: 48px;
    font-weight: 900;
}

.team-paragraph{
    color: #8c8c8c;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 24px;
}

.team-container img{
    width: 90%;     
}

.row-1, .row-2{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    background-color: #222222; 
    padding: 20px;
    border-radius: 18px;
}
.row-2{
    margin-top: 20px;
}

.image-title h5{
    color: white;
    font-size: 20px;
}

.image-title p{
    color: #8c8c8c;
    font-size: 14px;
}

.image-title{
    position: relative;
}

.image-title img{
    border-radius: 15px;
}

.image-title-para{
    position: absolute;
    top: 320px;
    margin-left: 30px;
}


/* ------------footer Section Styles Start----------------- */
 
.footer-container{
    max-width: 1060px;
    gap: 50px;
    background-color: #222222;
    margin: 0px auto;
    margin-top: 70px;
    padding-top: 50px;   
}

.footer-content{
   display: flex;
   
}
.footer-right-content{
    display: flex;
    margin-left: 180px;
    gap: 100px;  
}


.footer-left-heading{
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-left-paragraph{
    color: #8c8c8c;
    font-size: 14px;
    line-height: 24px;
}

.footer-right-content h4{
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer-right-content p{
    color: #8c8c8c;
    font-size: 18px;
}
.footer-right-content-one p{
    margin-top: 15px;
}
.footer-right-content-two p{
    margin-top: 15px;
}

.hr-style{
    color: #8c8c8c;
    font-size: 5px;
    width:900px;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.footer-end-heading{
    color: #8c8c8c;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
}




/* Responsive Design */
@media screen and (max-width: 675px) {
    .nav-option{
        display: none;
    }
    .nav-logo h3{
        margin-left: -112px;
    }

    .hamburger-menu{
        color: white;
        display: block;
    }

    .banner-container{
        flex-direction: column;
    }
    .banner-heading{
        padding-top: 40px;
        font-size: 50px;
        font-weight: 500;
        margin-left: 23px;
    }

        .banner-paragraph{
            margin-left: 23px;
    }

    .btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 380px;
        height: 50px;
    }

    .free {
        width: 50%;
        height: 96px;
        top: 56px;
        right: -19px;
    }

    .vedio-tutorial{
        width: 193px;
        height: 98px;
        background-color: #393939;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        position: absolute;
        bottom: 80px;
        left: -27px;
    }




    .image-content{
        display: flex;
        flex-direction: column;
    }
    .mile-container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-left: 12px;
        margin-right: 12px;
        height: auto; 
    }

    .mile-image-content img{
        width: 90%;
        margin: 15px;
    }

    .mile-paragraph{
       
        font-size: 13px;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .row-1, .row-2{
        display: grid;
        grid-template-columns:1fr;
        
    }
    .image-title-para{
        top: 260px;
        margin-left: 30px;
        
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        margin-left: 40px;
     }

     .footer-right-content{
         display: flex;
         flex-direction: column;
         margin-left: 40px;
         margin-top: 20px;
         gap: 50px;
     }

     .hr-style{
        
        width:70%;
        text-align: center;
    }

    .footer-end-heading{
        text-align: left;
        margin-left: 40px;  
    }

    .bmi-content{
        display: flex;
        flex-direction: column;
        gap: 50px;  
    }

    .bmi-container{
        margin-left: 25px;
        margin-right: 15px;
    }

    .five-fill{
        padding: 14px 22px 16px 100px;
    }
    
    .second-fill{
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .four-fill{
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .idea-content{
        margin-left: 100px;
        margin-top: -150px;
    }

}